__pycache__/
build/
develop-eggs/
dist/
eggs/
.eggs/
sdist/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
.ipynb_checkpoints
__pypackages__/
*.py[cod]

*.mp4
*.jpg
*.png
*.pdf
*.json
*.csv
*.npz
